<p id="notice"><%= notice %></p>

<h1>Audio Recordings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audio_recordings.each do |audio_recording| %>
      <tr>
        <td><%= audio_recording.name %></td>
        <td><%= link_to 'Show', audio_recording %></td>
        <td><%= link_to 'Edit', edit_audio_recording_path(audio_recording) %></td>
        <td><%= link_to 'Destroy', audio_recording, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audio Recording', new_audio_recording_path %>
