<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @audio_recording.name %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @audio_recording.annotation %>
</p>

<%= link_to 'Edit', edit_audio_recording_path(@audio_recording) %> |
<%= link_to 'Back', audio_recordings_path %>
