<h1><%= @band_name.name %></h1>

<p>
  Is this our band name?
  <%= link_to 'No, that\'s not our band name.', new_band_name_path %>
</p>

<h2>Sessions</h2>
<% @sessions.first(10).each do |session| %>
  <h3><%= session.date.strftime("%B %d, %Y") %></h3>
  <h4>Notes</h4>
  <%= session.text_log %>
  <h4>Recordings (<%= session.audio_files.count %>)</h4>
  <% session.audio_files.all.each do |audio_file| %>
    <h3><%= audio_file.filename %></h3>
    <%= react_component("AudioPlayer", {filename: audio_file.filename, url: audio_file.service_url}) %>
  <% end %>
  <hr>
<% end %>

<p>
  <%= link_to 'New Session', new_session_path %>
</p>
