<h1 class="brand"><%= @band_name.name %></h1>
<p class="big">
  We are some friends that play mostly Strokes covers. This is our scrapbook and a tool for self improvement.
</p>

<% @sessions.first(10).each do |session| %>

  <h2><%= session.date.strftime("%B %d, %Y") %> Session</h2>
  <%= session.text_log %>
  <% session.audio_files.all.each do |audio_file| %>
    <%= react_component("AudioPlayerV2", {filename: audio_file.filename, url: audio_file.service_url}) %>
  <% end %>
<% end %>

<p>
  <%= link_to 'New Session', new_session_path, class: 'button' %>
</p>
