<!DOCTYPE html>
<html>
  <head>
    <title>Alaja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- This shouldn't be here, but css isn't loading it, so it's here. -->
    <style>@import url(https://fonts.googleapis.com/css2?family=Epilogue:wght@531&family=Rubik+Mono+One&family=Teko:wght@700&family=Share+Tech+Mono&display=swap);</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
